/*--- Base Styles ---*/ /*--- Roboto Font ---*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*--- Roboto Slab Font---*/
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Bold.eot");
  src: url("../fonts/RobotoSlab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*--- Base Styles ---*/
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #232222;
  background: #fff;
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--- Elements ---*/
.no-scroll {
  overflow: hidden;
}

.--ibg {
  position: relative;
}
.--ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: "Roboto Slab";
  font-size: 24px;
  line-height: 133.3333333333%;
  color: #001e64;
}

.btn {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  text-transform: uppercase;
  color: #fff;
  padding: 14px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  .btn {
    background: #001e64;
    min-width: unset;
    width: 100%;
  }
}
.btn:hover {
  background: #fff;
  color: #001e64;
}
@media (max-width: 768px) {
  .btn:hover {
    background: #232222;
    color: #fff;
  }
}
.btn--white {
  color: #001e64;
  border: 1px solid #001e64;
}
@media (max-width: 768px) {
  .btn--white {
    background: #fff;
  }
}
.btn--white:hover {
  background: #001e64;
  color: #fff;
}

/*--- Section Styles ---*/
.header {
  padding-top: 27px;
  position: relative;
  z-index: 55;
}
.header__body {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-left: 43px;
  position: relative;
  z-index: 5;
}
.header__logo + * {
  margin-left: 15px;
}
@media (max-width: 480px) {
  .header__logo {
    width: 90px;
    margin-left: 0;
  }
}
.header__menu {
  margin-top: 16px;
}
.header__menu + * {
  margin-left: 15px;
}
@media (max-width: 1000px) {
  .header__menu {
    position: absolute;
    right: -100%;
    top: 86px;
    transition: right 0.3s;
    height: 100vh;
    overflow: auto;
    min-width: 320px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
  }
  .header__menu.active {
    right: 0;
  }
}
@media (max-width: 768px) {
  .header__menu {
    top: 120px;
  }
}
@media (max-width: 480px) {
  .header__menu {
    top: 86px;
  }
}
@media (max-width: 320px) {
  .header__menu {
    min-width: 100%;
  }
}
.header__phone {
  margin-right: 14px;
  margin-top: 11px;
}
@media (max-width: 1000px) {
  .header__phone {
    margin-left: auto;
    margin-top: 0;
  }
}

.menu__list {
  display: flex;
  gap: 15px 30px;
}
@media (max-width: 1000px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #001e64;
}
.menu__link:hover {
  border-bottom: 2px solid #001e64;
}

.burger-btn {
  display: none;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 55;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .burger-btn {
    display: block;
  }
}
.burger-btn.active span {
  background-color: transparent;
}
.burger-btn.active span::before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn.active span::after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn span {
  display: block;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #001e64;
}
.burger-btn span::before, .burger-btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #001e64;
  transition: all 0.3s;
}
.burger-btn span::before {
  left: 0;
  top: 10px;
}
.burger-btn span::after {
  left: 0;
  top: -10px;
}

.first {
  position: relative;
  margin-top: -50px;
  padding-bottom: 80px;
  padding-top: 175px;
}
@media (max-height: 900px) {
  .first {
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .first {
    margin-top: -135px;
  }
}
@media (max-width: 480px) {
  .first {
    margin-top: -125px;
  }
}
.first__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 112px;
}
@media (max-width: 1000px) {
  .first__body {
    margin-left: 60px;
  }
}
.first__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 131.9444444444%;
  color: #001e64;
  max-width: 589px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1440px) {
  .first__title {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .first__title {
    margin-left: -60px;
    margin-top: 25px;
  }
}
@media (max-width: 480px) {
  .first__title {
    font-size: 36px;
  }
}
.first__title + * {
  margin-top: 184px;
}
@media (max-height: 900px) {
  .first__title + * {
    margin-top: 70px;
  }
}
.first__btn-box {
  display: flex;
}
.first__btn-box + * {
  margin-top: 48px;
}
.first__lang {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .first__lang {
    justify-content: flex-start;
    margin-left: -60px;
  }
}
.first__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.first__image img {
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 768px) {
  .first__image {
    position: relative;
    z-index: 1;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .first__image {
    height: 250px;
  }
}
@media (max-width: 320px) {
  .first__image {
    height: 200px;
  }
}

.first-slider {
  max-width: 407px;
}
@media (max-width: 768px) {
  .first-slider {
    max-width: 100%;
  }
}
.first-slider + * {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .first-slider + * {
    margin-top: 25px;
  }
}
.first-slider__text {
  font-size: 18px;
  color: #fff;
}
@media (max-width: 768px) {
  .first-slider__text {
    color: #232222;
    font-size: 1rem;
  }
}
.first-slider__text + * {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .first-slider__text + * {
    margin-top: 15px;
  }
}
.first-slider .slick-prev, .first-slider .slick-next {
  position: absolute;
  left: -45px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s;
}
.first-slider .slick-prev:hover, .first-slider .slick-next:hover {
  opacity: 1;
}
.first-slider > .slick-prev {
  top: -54px;
}
@media (max-width: 768px) {
  .first-slider > .slick-prev {
    top: -40px;
  }
}
.first-slider > .slick-next {
  bottom: -150px;
}
@media (max-width: 768px) {
  .first-slider > .slick-next {
    bottom: -100px;
  }
}
.first-slider > .slick-dots {
  position: absolute;
  top: 0;
  bottom: -106px;
  left: -49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .first-slider > .slick-dots {
    bottom: -60px;
  }
}
.first-slider > .slick-dots button {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .first-slider > .slick-dots button {
    color: #232222;
  }
}
.first-slider > .slick-dots button:hover {
  opacity: 1;
}
.first-slider > .slick-dots button::before {
  content: "0";
}
.first-slider > .slick-dots li:nth-child(n+10) button::before {
  content: "";
}
.first-slider > .slick-dots > .slick-active button {
  opacity: 1;
}

.lang__item {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 116.6666666667%;
}
@media (max-width: 768px) {
  .lang__item {
    color: #232222;
  }
}
.lang__item .active {
  font-weight: 700;
}
.product {
  padding: 100px 0 0;
}
@media (max-width: 768px) {
  .product {
    border-top: 3px solid #001e64;
    padding-top: 36px;
  }
}
.product__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .product__body {
    flex-direction: column;
  }
}
.product__slider-title {
  max-width: 50%;
}
@media (max-width: 1000px) {
  .product__slider-title {
    max-width: 100%;
    margin-bottom: 25px;
  }
}
.product__slider-info {
  max-width: 50%;
}
@media (max-width: 1000px) {
  .product__slider-info {
    max-width: 100%;
  }
}

.product-slider-title .slick-prev, .product-slider-title .slick-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1000px) {
  .product-slider-title .slick-prev, .product-slider-title .slick-next {
    transform: unset;
    left: unset;
    background: #fff;
    height: 100%;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}
.product-slider-title > .slick-prev {
  top: -30px;
}
@media (max-width: 1000px) {
  .product-slider-title > .slick-prev {
    top: -10px;
  }
  .product-slider-title > .slick-prev img {
    transform: rotate(-90deg);
  }
}
@media (max-width: 768px) {
  .product-slider-title > .slick-prev {
    top: 0;
  }
}
@media (max-width: 379px) {
  .product-slider-title > .slick-prev {
    top: -10px;
  }
}
@media (max-width: 1000px) {
  .product-slider-title > .slick-next {
    left: unset;
    right: 0;
    top: -10px;
  }
  .product-slider-title > .slick-next img {
    transform: rotate(-90deg);
  }
}
@media (max-width: 768px) {
  .product-slider-title > .slick-next {
    top: 0;
  }
}
@media (max-width: 379px) {
  .product-slider-title > .slick-next {
    top: -10px;
  }
}
.product-slider-title__slide {
  cursor: pointer;
}
.product-slider-title__slide + * {
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .product-slider-title__slide + * {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .product-slider-title__slide {
    padding: 15px;
  }
}
.product-slider-title__slide.slick-current .product-slider-title__text {
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}
@media (max-width: 1000px) {
  .product-slider-title__slide.slick-current .product-slider-title__text {
    line-height: 1;
    font-size: 24px;
  }
}
.product-slider-title__text {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #232222;
  text-align: center;
}
@media (max-width: 1000px) {
  .product-slider-title__text {
    line-height: 1;
  }
}

.product-slider-info__image {
  max-width: 260px;
  max-height: 215px;
}
@media (max-width: 768px) {
  .product-slider-info__image {
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  .product-slider-info__image {
    max-width: 100%;
    height: 300px;
  }
}
.product-slider-info__image + * {
  margin-left: 45px;
}
@media (max-width: 480px) {
  .product-slider-info__image + * {
    margin-left: unset;
    margin-top: 15px;
  }
}
.product-slider-info__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 768px) {
  .product-slider-info__list {
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  .product-slider-info__list {
    max-width: 100%;
  }
}
.product-slider-info__item + * {
  margin-top: 30px;
}
.product-slider-info__subtitle {
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: 133.3333333333%;
  color: #001e64;
}
.product-slider-info__subtitle + * {
  margin-top: 10px;
}
.slide-info__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .slide-info__header {
    flex-direction: column;
  }
}
.slide-info__header + * {
  margin-top: 15px;
}
.slide-info__title + * {
  margin-top: 30px;
}
.slide-info__text + * {
  margin-top: 38px;
}
.slide-info__link-box {
  display: flex;
}
.benefit {
  padding: 293px 0 95px;
  background: url("../img/benefit/bg.png") center/cover no-repeat;
}
@media (max-width: 768px) {
  .benefit {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .benefit {
    margin-top: -300px;
  }
}
.benefit__body {
  padding: 0 90px;
}
@media (max-width: 1000px) {
  .benefit__body {
    padding: 0;
  }
}
.benefit__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .benefit__list {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .benefit__list {
    padding-top: 400px;
  }
}
.benefit__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 165px;
  background: url("../img/benefit/item-bg.png") center/cover no-repeat;
}
@media (max-width: 768px) {
  .benefit__item {
    flex: 0 1 180px;
  }
}
.benefit__text {
  max-width: 142px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
}

.history {
  padding: 100px 0;
}
.history__row {
  display: flex;
  justify-content: space-between;
}
.history__row + * {
  margin-top: 50px;
}
.history__row-reverse {
  flex-direction: row-reverse;
}
.history__row-reverse .history__content {
  flex: 0 1 600px;
}
.history__row-reverse .history__content + * {
  margin-left: 0px;
  margin-right: 20px;
}
.history__row-reverse .history__image {
  flex: 0 1 490px;
}
.history__content {
  flex: 0 1 490px;
}
.history__content + * {
  margin-left: 20px;
}
.history__descr + * {
  margin-top: 50px;
}
.history__descr > * + * {
  margin-top: 30px;
}
.history__text {
  max-width: 420px;
}
.history__image {
  flex: 0 1 600px;
  min-height: 203px;
}