.first {
	position: relative;
	&__body {
		height: 100vh;
	}

	&__title {
	}

	&__slider {
	}

	&__btn {
	}

	&__lang {
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.first-slider {
	&__item {
	}

	&__text {
	}
}
.lang {
	&__list {
	}

	&__item {
	}

	&__link {
	}
}
