.first {
	position: relative;
	margin-top: -50px;
	padding-bottom: 80px;
	padding-top: 175px;
	@media (max-height: 900px) {
		padding-top: 120px;
		padding-bottom: 50px;
	}
	@media (max-width: 768px) {
		margin-top: -135px;
	}
	@media (max-width: 480px) {
		margin-top: -125px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-left: 112px;
		@media (max-width: 1000px) {
			margin-left: 60px;
		}
	}

	&__title {
		font-family: "Roboto Slab", sans-serif;
		font-weight: 700;
		font-size: 72px;
		line-height: calc(95px / 72px * 100%);
		color: #001e64;
		max-width: 589px;
		position: relative;
		z-index: 2;
		@media (max-width: 1440px) {
			font-size: 52px;
		}
		@media (max-width: 768px) {
			margin-left: -60px;
			margin-top: 25px;
		}
		@media (max-width: 480px) {
			font-size: 36px;
		}
		& + * {
			margin-top: 184px;
			@media (max-height: 900px) {
				margin-top: 70px;
			}
		}
	}

	&__slider {
	}
	&__btn-box {
		display: flex;
		& + * {
			margin-top: 48px;
		}
	}
	&__btn {
	}

	&__lang {
		display: flex;
		justify-content: flex-end;
		@media (max-width: 768px) {
			justify-content: flex-start;
			margin-left: -60px;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img {
			object-position: top;
		}
		@media (max-width: 768px) {
			position: relative;
			z-index: 1;
			height: 300px;
		}
		@media (max-width: 480px) {
			height: 250px;
		}
		@media (max-width: 320px) {
			height: 200px;
		}
	}
}
.first-slider {
	max-width: 407px;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	& + * {
		margin-top: 40px;
		@media (max-width: 768px) {
			margin-top: 25px;
		}
	}
	&__item {
	}

	&__text {
		font-size: 18px;
		color: #fff;
		@media (max-width: 768px) {
			color: #232222;
			font-size: 1rem;
		}
		& + * {
			margin-top: 40px;
			@media (max-width: 768px) {
				margin-top: 15px;
			}
		}
	}
	& .slick-prev,
	& .slick-next {
		position: absolute;
		left: -45px;
		cursor: pointer;
		opacity: 0.6;
		transition: all 0.3s;
		&:hover {
			opacity: 1;
		}
	}
	& > .slick-prev {
		top: -54px;
		@media (max-width: 768px) {
			top: -40px;
		}
	}
	& > .slick-next {
		bottom: -150px;
		@media (max-width: 768px) {
			bottom: -100px;
		}
	}
	& > .slick-dots {
		position: absolute;
		top: 0;
		bottom: -106px;
		left: -49px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 768px) {
			bottom: -60px;
		}

		button {
			font-size: 24px;
			line-height: 28px;
			color: #fff;
			opacity: 0.5;
			@media (max-width: 768px) {
				color: #232222;
			}
			transition: all 0.3s;
			&:hover {
				opacity: 1;
			}
			&::before {
				content: "0";
			}
		}

		& li:nth-child(n + 10) button::before {
			//! чтобы у слайда с 10 номера небыло 0 перед цифрой в буллете
			content: "";
		}
		& > .slick-active {
			button {
				opacity: 1;
			}
		}
	}
}
.lang {
	&__list {
	}

	&__item {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		line-height: calc(21px / 18px * 100%);
		@media (max-width: 768px) {
			color: #232222;
		}
		& .active {
			font-weight: 700;
		}
	}

	&__link {
	}
}
