.first {
	position: relative;
	margin-top: -50px;
	padding-bottom: 80px;
	padding-top: 175px;
	@media (max-height: 900px) {
		padding-top: 120px;
		padding-bottom: 50px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-left: 112px;
	}

	&__title {
		font-family: "Roboto Slab", sans-serif;
		font-weight: 700;
		font-size: 72px;
		line-height: calc(95px / 72px * 100%);
		color: #001e64;
		max-width: 589px;
		& + * {
			margin-top: 184px;
			@media (max-height: 900px) {
				margin-top: 60px;
			}
		}
	}

	&__slider {
	}
	&__btn-box {
		display: flex;
		& + * {
			margin-top: 48px;
		}
	}
	&__btn {
		border-radius: 20px;
		background: rgba(255, 255, 255, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 300px;
		font-family: "Roboto Slab";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: calc(32px / 24px * 100%);
		text-transform: uppercase;
		color: #fff;
		padding: 14px;
	}

	&__lang {
		display: flex;
		justify-content: flex-end;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img {
			object-position: top;
		}
	}
}
.first-slider {
	max-width: 407px;
	& + * {
		margin-top: 40px;
	}
	&__item {
	}

	&__text {
		font-size: 18px;
		color: #fff;
		& + * {
			margin-top: 40px;
		}
	}
	& .slick-prev,
	& .slick-next {
		position: absolute;
		left: -45px;
		cursor: pointer;
	}
	& > .slick-prev {
		top: -54px;
	}
	& > .slick-next {
		bottom: -150px;
	}
	& > .slick-dots {
		position: absolute;
		top: 0;
		bottom: -106px;
		left: -49px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		button {
			font-size: 24px;
			line-height: 28px;
			color: #fff;
			opacity: 0.5;
			&::before {
				content: "0";
			}
		}
		& > .slick-active {
			button {
				opacity: 1;
			}
		}
	}
}
.lang {
	&__list {
	}

	&__item {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		line-height: calc(21px / 18px * 100%);
		& .active {
			font-weight: 700;
		}
	}

	&__link {
	}
}
