.header {
	padding-top: 27px;
	position: relative;
	z-index: 55;
	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		margin-left: 43px;
		position: relative;
		z-index: 5;
		& + * {
			margin-left: 15px;
		}
		@media (max-width: 480px) {
			width: 90px;
			margin-left: 0;
		}
	}

	&__menu {
		margin-top: 16px;
		& + * {
			margin-left: 15px;
		}
		@media (max-width: 1000px) {
			position: absolute;
			right: -100%;
			top: 86px;
			transition: right 0.3s;
			height: 100vh;
			overflow: auto;
			min-width: 320px;
			background: rgba(255, 255, 255, 0.9);
			padding: 15px 0;
			&.active {
				right: 0;
			}
		}
		@media (max-width: 768px) {
			top: 120px;
		}
		@media (max-width: 480px) {
			top: 86px;
		}
		@media (max-width: 320px) {
			min-width: 100%;
		}
	}

	&__phone {
		margin-right: 14px;
		margin-top: 11px;
		@media (max-width: 1000px) {
			margin-left: auto;
			margin-top: 0;
		}
	}
}
.logo {
	&__img {
	}
}
.menu {
	&__list {
		display: flex;
		gap: 15px 30px;
		@media (max-width: 1000px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
	}

	&__link {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		line-height: calc(21px / 18px * 100%);
		color: #001e64;
		&:hover {
			border-bottom: 2px solid #001e64;
		}
	}
}

.burger-btn {
	display: none;
	cursor: pointer;
	padding: 0;
	border: 0;
	background: transparent;
	position: relative;
	z-index: 55;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;

	@media (max-width: 1000px) {
		display: block;
	}
	&.active {
		span {
			background-color: transparent;
			&::before {
				transform: rotate(45deg);
				top: 0;
				transition: all 0.3s;
			}
			&::after {
				transform: rotate(-45deg);
				top: 0;
				transition: all 0.3s;
			}
		}
	}
	span {
		display: block;
		position: relative;
		width: 40px;
		height: 3px;
		background-color: #001e64;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background-color: #001e64;
			transition: all 0.3s;
		}
		&::before {
			left: 0;
			top: 10px;
		}
		&::after {
			left: 0;
			top: -10px;
		}
	}
}
