.header {
	padding-top: 27px;
	position: relative;
	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		margin-left: 43px;
		position: relative;
		z-index: 5;
		& + * {
			margin-left: 15px;
		}
	}

	&__menu {
		margin-top: 16px;
		& + * {
			margin-left: 15px;
		}
		@media (max-width: 1000px) {
			position: absolute;
			left: 100%;
		}
	}

	&__phone {
		margin-right: 14px;
		margin-top: 11px;
	}
}
.logo {
	&__img {
	}
}
.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 30px;
	}

	&__item {
	}

	&__link {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		line-height: calc(21px / 18px * 100%);
		color: #001e64;
		&:hover {
			border-bottom: 2px solid #001e64;
		}
	}
}

.burger-btn {
	display: none;
	cursor: pointer;
	padding: 0;
	border: 0;
	background: transparent;
	position: relative;
	z-index: 55;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;
	@media (max-width: 1000px) {
		display: block;
	}
	&.active {
		span {
			background-color: transparent;
			&::before {
				transform: rotate(45deg);
				top: 0;
				transition: all 0.3s;
			}
			&::after {
				transform: rotate(-45deg);
				top: 0;
				transition: all 0.3s;
			}
		}
	}
	span {
		display: block;
		position: relative;
		width: 40px;
		height: 3px;
		background-color: #000;

		&::before,
		&::after {
			position: absolute;
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background-color: #000;
			transition: all 0.3s;
		}
		&::before {
			left: 0;
			top: 10px;
		}
		&::after {
			left: 0;
			top: -10px;
		}
	}
}
